.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 290px;
  width: 500px;
  padding: 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.submit {
  margin-top: 20px;
  padding: 8px 15px;
}
